.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #800020;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Use space-between to properly space the elements */
    padding: 0 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 50px; /* Increase logo height */
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
    font-size: 1.5rem; /* Increase font size */
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    font-size: 1.5rem; /* Matched the font size with headerTitle */
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 50px; /* Increased the logo size for better visibility */
}
