.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #800020;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    position: relative; /* Positioning context for centering */
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
    margin-right: auto; /* Align to the left */
}

.headerLogoContainer {
    position: absolute; /* Center the logo container */
    left: 50%;
    transform: translateX(-50%);
}

.githubLogo {
    height: 50px; /* Adjust the logo height as needed */
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
    font-size: 1.5rem; /* Increase font size */
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightTextContainer {
    margin-left: auto; /* Align to the right */
    padding-right: 12px; /* Adjust padding to match the left padding of header */
    display: flex;
    align-items: center;
}

.headerRightText {
    font-weight: normal;
    font-size: 1.5rem; /* Matched the font size with headerTitle */
}


